<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header::header-seccion(titulo='Agregar')}"></head>

<body>

<!-- Navbar -->
<div th:replace="~{fragments/navbar::navegacion-seccion}"></div>
<!-- Navbar -->

<div class="container my-4 text-center">

    <h3 class="display-4 text-primary">¡Añade un Nuevo Contacto!</h3>

    <div class="container col-md-6 mx-auto">

        <form th:action="@{/agregar}" modelAttribute="contactoForm" method="post">

            <div class="form-group">
                <label for="nombre_contacto" class="text-primary">Nombre</label>
                <input type="text" class="form-control" id="nombre_contacto" name="nombre" required>
            </div>

            <div class="form-group">
                <label for="celular_contacto" class="text-primary">Celular</label>
                <input type="text" class="form-control" id="celular_contacto" name="celular" required>
            </div>

            <div class="form-group">
                <label for="email_contacto" class="text-primary">Email</label>
                <input type="email" class="form-control" id="email_contacto" name="email" required>
            </div>

            <div class="container my-4">
                <button type="submit" class="btn btn-success btn-lg">Agregar Contacto</button>
                <a class="btn btn-warning btn-lg" href="/" role="button">Regresar</a>
            </div>

        </form>

    </div>
</div>

<div th:replace="~{fragments/pie-pagina::pie-pagina-seccion}"></div>

</body>

</html>
